## 1. Certificate verification

## 1.1. Verify the content of a certificate is integraty

Using the CA's public key to decode the signature of a certificate



## 1.2. Verify the private key matches a certificate (Certificate Key Matcher)

challenge whether a peer has corresponding private key


https://knowledge.digicert.com/solution/SO29559.html


## For example

Hyperledger key pair verification example

